
  .skills_container h2{
    font-family: var(--font-main);
    color:var(--text-white)
  }
  .skills_container {
    background-color: var(--project-bg);
    padding: var(--spacing-lg);
  }
  
  .skills_table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .skills_row {
    display: flex;
    margin-bottom: var(--spacing-md);
    align-items: center;
  }
  
  .skills_cell {
    padding: var(--spacing-sm);
  }
  
  .skills_label {
    font-family: var(--font-main);
    display: flex;
    color:var(--text-white);
    align-items: center;
    width: 40%;
    font-weight: 500;
  }
  
  .skills_icon {
    width: 20px;
    height: 20px;
    margin-right: var(--spacing-sm);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .skills_level {
    width: 60%;
  }
  
  .skills_bar {
    height: 8px;
    background-color: var(--blue-primary);
    border-radius: 4px;
  }
  
  .level_5 {
    width: 90%;
    
  }
  
  .level_4 {
    width: 80%;
  }
  
  .level_3 {
    width: 80%;
  }
  
  .level_2 {
    width: 40%;
  }
  
  .level_1 {
    width: 20%;
  }